<!DOCTYPE html>
<html>
<head>
    <title>Bilingual expriment</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="bilingual experiment">
    <meta name="keywords" content="bilingual experiment">
    <meta name="author" content="LHB"/>
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i" rel="stylesheet">
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"  href="css/gonex-icons.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

	<header id="header">

		<!-- Section title -->
		<h1 class="sr-only">Gonex | Home page</h1>

		<nav id="main-navigation" class="navbar navbar-default navbar-fixed-top">


		  <div class="container">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="sr-only">Toggle navigation</span>
		      </button>
		      <a id="brand-mobile" class="navbar-brand navbar-brand-center smoothScroll" href="#home">
		        <img src="img/logo.jpg">
		      </a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="main-navbar">

				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a class="smoothScroll" href="#home">Home <span class="sr-only">(current)</span></a></li>
          <li><a class="smoothScroll" href="#about">About</a></li>
					<li><a class="smoothScroll" href="#services">Information</a></li>

				</ul>

		    </div><!-- /.navbar-collapse -->

		  </div><!-- /.container -->

		</nav>

	</header>

	<main>

		<section id="home">
			<!-- Section title -->
			<h1 class="sr-only">Home</h1>

			<div id="carousel-hero" class="carousel slide" data-ride="carousel">

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">

					<div class="item active">

						<div class="overlay"></div>

						<div class="carousel-caption">

							<span class="h1">Welcome to our experiment!</span>

							<a href="https://bnupsych.asia.qualtrics.com/jfe/form/SV_0k4IJt72HJzYVyl" target="_blank" class="btn btn-default green-white">Questionare</a>

						</div>

					</div> <!-- /.item -->

					<div class="item">

						<div class="overlay"></div>

						<div class="carousel-caption">

							<span class="h1">Welcome to our experiment!</span>

							<a href="http://research.millisecond.com/weicong1203/purple_finalexam.web" target="_blank" class="btn btn-default green-white">Experiment</a>

						</div>

					</div> <!-- /.item -->





				</div> <!-- /.carousel-inner -->

				<!-- Controls -->
				<a class="left carousel-control" href="#carousel-hero" role="button" data-slide="prev">
					<span class="ico ico-arrow_left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#carousel-hero" role="button" data-slide="next">
					<span class="ico ico-arrow_right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>

			</div> <!-- /.carousel -->

		</section>
    <section id="about">

			<div class="container">

				<div class="row">

					<div class="col-md-10 col-md-offset-1">

						<div class="title-content">

							<h2 class="section-title">实验简介</h2>

              <p>启动效应(Priming Effect)是指当连续呈现两个在语义、结构等特征上具有一定关联的刺激时，前一个字词(启动刺激, Prime) 提供的线索信息对后面的刺激(目标刺激, Target) 的反应的促进或者抑制作用。根据线索刺激对目标刺激促进和抑制的不同作用可分为正启动(Positive Priming)和负启动(Negative Priming)。</p>
              <p>Meyer和Schvaneveldt(1971)曾在实验中给被试呈现两个字母串（非英文词），结果发现被试对两个有一定的意义联系的字母串(如Doctor-Nurse)的反应比两个无关联的字母串(Butter-Nurse)更快，并将这种现象称为启动效应。</p>
              <p>Meyer和Ruddy(1974)采用语义启动方法和词汇判断任务对语义启动进行了研究，发现两个有语义意义联系的单词(例如Bread-Butter)，无论启动词与目标词是否采用同一种语言呈现，启动词对目标词的加工都会起到促进作用，在不同的语言条件下和在相同的语言条件下存在相同的促进作用。表明无论单词的外部表征形式如何，意义相同的单词都具有相同的语义表征，双语者具有单一的、整合的语义记忆系统。结果还发现，双语者对不同语言配对时间的反应比同种语言配对时间的反应速度要慢。</p>
						</div> <!-- /.title-content -->

					</div>

				</div> <!-- /.row -->

			</div> <!-- /.contact -->

		</section>

		<section id="services">

			<!-- Section title -->
			<h1 class="sr-only">Services</h1>

			<div class="container">

				<div class="row">

					<div class="col-md-4">

						<div class="punchbox">

							<h2 class="punchline">
								<span></span>
								<span>Info</span>
								<span></span>
							</h2>

						</div> <!-- /.punchbox -->

					</div>

          <div class="col-md-4">

						<div class="service">

							<h4>实验设计</h4>

							<p>根据并行性双语者和非并行性双语者的相关定义以及在认知等心理特征上的差异，我们在阅读相关文献和材料后，针对被试在中文和英文上的能力差异设计了问卷。问卷共64道题目，分为三部分，分别考察了被试的人口学变量、对于中文和英文的熟悉程度，最后一部分通过对被试词汇量的考察被试在中英文上的掌握程度。</p>

						</div> <!-- /.service -->

					</div>
          <div class="col-md-4">

						<div class="service">

							<h4>仪器材料</h4>

              <p>实验仪器：液晶显示器、inquisit 4.0</p>
              <p>实验材料：48对词汇，存在关联与不存在关联的各24对；中－中、中－英、英－英、英－中各12对，在实验中完全随机出现；练习阶段提供给被试8对额外的词组，一半存在关联，一半不存在关联，四种双语组合方式各2对。</p>
              <p>文字呈现：背景为白色（255,255,255），文字颜色为黑色（0,0,0）</p>

						</div> <!-- /.service -->

					</div>
          <div class="col-md-4">

            <div class="service">

              <h4>预期结果</h4>

              <p>在四种词汇匹配情况中，被试对于中文-中文和英文-英文配对的反应时显著低于中文-英文和英文-中文配对，说明被试对于同语言词对具有更强的启动效应。</p>
              <p>被试对于关联性词对的反应时显著低于无关联性词对，正确率显著较高，说明被试对于关联性词对具有更强的启动效应。</p>

            </div> <!-- /.service -->

          </div>
          <div class="col-md-4">

            <div class="service">

              <h4>参考文献</h4>

              <p>陈素芬. (1998). 关于负启动机制的研究. 心理科学进展, 16(2), 22-26.</p>
              <p>周仁来, & 许杰. (2001). 知觉启动效应及其脑机制的研究进展. 心理科学进展, 24(1), 81-84.</p>
              <p>范津, & 朱滢. (1995). 字符的知觉表征及其启动. 心理学报(2), 145-151.</p>
              <p>张学民, & 舒华. (2004). 实验心理学纲要. 北京师范大学出版社.</p>

            </div> <!-- /.service -->

          </div>

          <div class="col-md-4">

            <div class="service">

              <h4>成员分工</h4>

              <p>前期实验程序主体部分设计及词组匹配：秦子杰（组长）、陈作为</p>
              <p>后期实验程序完善和漏洞修补：陈艺夫</p>
              <p>问卷设计：钟浩宇</p>
              <p>网页制作：杨政乾、刘洪搏</p>

            </div> <!-- /.service -->

          </div>

				</div> <!-- /.row -->


		</section>




	</main>

	<footer id="footer">

		<!-- Section title -->
		<h1 class="sr-only">Footer</h1>

		<p class="copyright text-green"> © <span id="year">2018</span> -BNUpsy-Thanks for that.</p>

	</footer>


	<!-- Scripts -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/libs/smooth-scroll.min.js"></script>
	<script type="text/javascript" src="js/libs/modernizr.mq.js"></script>
	<script type="text/javascript" src="js/libs/mixitup.min.js"></script>
	<!-- Latest compiled and minified JavaScript Bootstrap-->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- Custom JS -->
	<script type="text/javascript" src="js/google-map.js"></script>
	<script type="text/javascript" src="js/video.js"></script>
	<script type="text/javascript" src="js/custom.js"></script>


</body>
</html>
